.student-icon-container {
	display:inline-block;
}
.student-info-container {
	display:inline-block;
	vertical-align: top;
}
.student-info-list {
	list-style: none;
}
.student-data-field {
	position:relative;
	padding:0.15em;
	margin-top:0.2em;
}
.student-data-field.edit-mode {
	border: 1px solid;
	margin-top: 0.6em;
}
.student-data-field .remove-btn {
	display:none;
}
.student-data-field.edit-mode .remove-btn {
	display:inline;
	position:absolute;
	top: -1.0em;
	left: -0.3em;
	cursor: pointer;
}
.student-data-label {
	display: inline-block;
}
.student-data-value {
	display: inline-block;
}

#attendanceChart {
	width: 400px;
	height: 300px;
}

#testScoresChart {
	width: 600px;
	height: 400px;
}

/* Utility Classes */
.hidden {
	display:none;
}

/* Jiggling CSS */
.jiggly {
    -webkit-animation: jiggle 0.2s infinite;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: jiggle;
    -moz-animation-iteration-count: infinite;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
}

.jiggly:after {
    position: relative;
    left: 52% !important;
    top: -10px !important;
}

@-moz-keyframes jiggle {
    0% {
        -moz-transform: rotate(-1deg);
}
50% {
    -moz-transform: rotate(1deg);
}
}

@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-1deg);
}
50% {
    -webkit-transform: rotate(1deg);
}
}